{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - block_content: Block content entity instance.
 *
 * @see template_preprocess_block()
 */
#}
{% set classes = [
  'container-fluid',
  'block',
  'block--spacing',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'block-lb-partners',
] %}
{% set block_id = 'partners-' ~ configuration['block_revision_id'] %}
{{ attach_library('lb_partners_blocks/lb_partners') }}
<div{{ attributes.addClass(classes).setAttribute('id', plugin_id|clean_class ~ configuration['block_revision_id']) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% block content %}
    {% set hasSectionTitle = (block_content.field_section_title.value or block_content.field_section_subtitle.value) %}
    <div class="row">
      <div class="container my-5">
        <div class="row">
          {% if hasSectionTitle %}
            <div class="col-12 col-lg-4 section-description">
              {% if block_content.field_section_title.value %}
                <h2>{{ block_content.field_section_title.value }}</h2>
              {% endif %}
              {% if block_content.field_section_subtitle.value %}
                <p>{{ block_content.field_section_subtitle.value }}</p>
              {% endif %}
            </div>
          {% endif %}
          <div id="{{ block_id }}"
               class="section-content {% if hasSectionTitle %}col-12 col-lg-8 pt-5 pt-lg-0{% else %}col-12{% endif %}">
            {% if partners is not empty %}
              {% for key, tier in partners %}
                {% set tier_attr = create_attribute() %}
                {% set tier_classes = [
                  'partner-tier',
                ] %}
                <div {{ tier_attr.addClass(tier_classes) }}>

                  {% if tier.tier is not empty %}
                    <h3 class="label">
                      {{ tier.tier }}
                    </h3>
                  {% endif %}
                  <div class="row partners-list">
                    {% for key, partner in tier.partners %}
                      {% set partner_attr = create_attribute() %}
                      {% set item_classes = [
                        'partner-item',
                        hasSectionTitle ? 'col-md-3' : 'col-md-2',
                        'col-6',
                        'text-center',
                      ] %}

                      <div{{ partner_attr.addClass(item_classes) }}>
                        {% if partner.logo %}
                          <img src="{{ partner.logo }}" alt="{{ partner.logo_alt }}" class="partner-logo"/>
                        {% endif %}
                        <div>
                          {% if partner.link is not empty %}
                            <a href="{{ partner.link }}" class="stretched-link" target="_blank">{{ partner.name }}</a>
                          {% else %}
                            {{ partner.name }}
                          {% endif %}
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
</div>
